In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

data_train = pd.read_csv('train.csv')
data_test = pd.read_csv('test.csv')

data_train.sample(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
845,846,0,3,"Abbing, Mr. Anthony",male,42.0,0,0,C.A. 5547,7.5500,NaN,S
496,497,1,1,"Eustis, Miss. Elizabeth Mussey",female,54.0,1,0,36947,78.2667,D20,C
298,299,1,1,"Saalfeld, Mr. Adolphe",male,NaN,0,0,19988,30.5000,C106,S

### Transforming Features

1. Aside from 'Sex', the 'Age' feature is second in importance. To avoid overfitting, I'm grouping people into logical human age groups.
2. Each Cabin starts with a letter. I bet this letter is much more important than the number that follows, let's slice it off.
3. Fare is another continuous value that should be simplified. I ran data_train.Fare.describe() to get the distribution of the feature, then placed them into quartile bins accordingly.
4. Extract information from the 'Name' feature. Rather than use the full name, I extracted the last name and name prefix (Mr. Mrs. Etc.), then appended them as their own features.
5. Lastly, drop useless features. (Ticket and Name)

In [2]:
def simplify_ages(df):
    df.Age = df.Age.fillna(-0.5)
    bins = (-1, 0, 5, 12, 18, 25, 35, 60, 120)
    group_names = ['Unknown', 'Baby', 'Child', 'Teenager', 'Student', 'Young Adult', 'Adult', 'Senior']
    categories = pd.cut(df.Age, bins, labels=group_names)
    df.Age = categories
    return df

def simplify_cabins(df):
    df.Cabin = df.Cabin.fillna('N')
    df.Cabin = df.Cabin.apply(lambda x: x[0])
    return df

def simplify_fares(df):
    df.Fare = df.Fare.fillna(-0.5)
    bins = (-1, 0, 8, 15, 31, 1000)
    group_names = ['Unknown', '1_quartile', '2_quartile', '3_quartile', '4_quartile']
    categories = pd.cut(df.Fare, bins, labels=group_names)
    df.Fare = categories
    return df

def format_name(df):
    df['Lname'] = df.Name.apply(lambda x: x.split(' ')[0])
    df['NamePrefix'] = df.Name.apply(lambda x: x.split(' ')[1])
    return df    
    
def drop_features(df):
    return df.drop(['Ticket', 'Name', 'Embarked'], axis=1)

def transform_features(df):
    df = simplify_ages(df)
    df = simplify_cabins(df)
    df = simplify_fares(df)
    df = format_name(df)
    df = drop_features(df)
    return df

data_train = transform_features(data_train)
data_test = transform_features(data_test)
data_train

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Lname,NamePrefix
0,1,0,3,male,Student,1,0,1_quartile,N,"Braund,",Mr.
1,2,1,1,female,Adult,1,0,4_quartile,C,"Cumings,",Mrs.
2,3,1,3,female,Young Adult,0,0,1_quartile,N,"Heikkinen,",Miss.
3,4,1,1,female,Young Adult,1,0,4_quartile,C,"Futrelle,",Mrs.
4,5,0,3,male,Young Adult,0,0,2_quartile,N,"Allen,",Mr.
5,6,0,3,male,Unknown,0,0,2_quartile,N,"Moran,",Mr.
6,7,0,1,male,Adult,0,0,4_quartile,E,"McCarthy,",Mr.
7,8,0,3,male,Baby,3,1,3_quartile,N,"Palsson,",Master.
8,9,1,3,female,Young Adult,0,2,2_quartile,N,"Johnson,",Mrs.
9,10,1,2,female,Teenager,1,0,3_quartile,N,"Nasser,",Mrs.
10,11,1,3,female,Baby,1,1,3_quartile,G,"Sandstrom,",Miss.
11,12,1,1,female,Adult,0,0,3_quartile,C,"Bonnell,",Miss.
12,13,0,3,male,Student,0,0,2_quartile,N,"Saundercock,",Mr.
13,14,0,3,male,Adult,1,5,4_quartile,N,"Andersson,",Mr.
14,15,0,3,female,Teenager,0,0,1_quartile,N,"Vestrom,",Miss.
15,16,1,2,female,Adult,0,0,3_quartile,N,"Hewlett,",Mrs.
16,17,0,3,male,Baby,4,1,3_quartile,N,"Rice,",Master.
17,18,1,2,male,Unknown,0,0,2_quartile,N,"Williams,",Mr.
18,19,0,3,female,Young Adult,1,0,3_quartile,N,Vander,"Planke,"
19,20,1,3,female,Unknown,0,0,1_quartile,N,"Masselmani,",Mrs.
20,21,0,2,male,Young Adult,0,0,3_quartile,N,"Fynney,",Mr.
21,22,1,2,male,Young Adult,0,0,2_quartile,D,"Beesley,",Mr.
22,23,1,3,female,Teenager,0,0,2_quartile,N,"McGowan,",Miss.
23,24,1,1,male,Young Adult,0,0,4_quartile,A,"Sloper,",Mr.
24,25,0,3,female,Child,3,1,3_quartile,N,"Palsson,",Miss.
25,26,1,3,female,Adult,1,5,4_quartile,N,"Asplund,",Mrs.
26,27,0,3,male,Unknown,0,0,1_quartile,N,"Emir,",Mr.
27,28,0,1,male,Student,3,2,4_quartile,C,"Fortune,",Mr.
28,29,1,3,female,Unknown,0,0,1_quartile,N,"O'Dwyer,",Miss.
29,30,0,3,male,Unknown,0,0,1_quartile,N,"Todoroff,",Mr.
...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,male,Student,1,0,2_quartile,N,"Giles,",Mr.
862,863,1,1,female,Adult,0,0,3_quartile,D,"Swift,",Mrs.
863,864,0,3,female,Unknown,8,2,4_quartile,N,"Sage,",Miss.
864,865,0,2,male,Student,0,0,2_quartile,N,"Gill,",Mr.
865,866,1,2,female,Adult,0,0,2_quartile,N,"Bystrom,",Mrs.
866,867,1,2,female,Young Adult,1,0,2_quartile,N,Duran,y
867,868,0,1,male,Young Adult,0,0,4_quartile,A,"Roebling,",Mr.
868,869,0,3,male,Unknown,0,0,2_quartile,N,van,"Melkebeke,"
869,870,1,3,male,Baby,1,1,2_quartile,N,"Johnson,",Master.
870,871,0,3,male,Young Adult,0,0,1_quartile,N,"Balkic,",Mr.
871,872,1,1,female,Adult,1,1,4_quartile,D,"Beckwith,",Mrs.
872,873,0,1,male,Young Adult,0,0,1_quartile,B,"Carlsson,",Mr.
873,874,0,3,male,Adult,0,0,2_quartile,N,Vander,"Cruyssen,"
874,875,1,2,female,Young Adult,1,0,3_quartile,N,"Abelson,",Mrs.
875,876,1,3,female,Teenager,0,0,1_quartile,N,"Najib,",Miss.
876,877,0,3,male,Student,0,0,2_quartile,N,"Gustafsson,",Mr.
877,878,0,3,male,Student,0,0,1_quartile,N,"Petroff,",Mr.
878,879,0,3,male,Unknown,0,0,1_quartile,N,"Laleff,",Mr.
879,880,1,1,female,Adult,0,1,4_quartile,C,"Potter,",Mrs.
880,881,1,2,female,Student,0,1,3_quartile,N,"Shelley,",Mrs.
881,882,0,3,male,Young Adult,0,0,1_quartile,N,"Markun,",Mr.
882,883,0,3,female,Student,0,0,2_quartile,N,"Dahlberg,",Miss.
883,884,0,2,male,Young Adult,0,0,2_quartile,N,"Banfield,",Mr.
884,885,0,3,male,Student,0,0,1_quartile,N,"Sutehall,",Mr.
885,886,0,3,female,Adult,0,5,3_quartile,N,"Rice,",Mrs.
886,887,0,2,male,Young Adult,0,0,2_quartile,N,"Montvila,",Rev.
887,888,1,1,female,Student,0,0,3_quartile,B,"Graham,",Miss.
888,889,0,3,female,Unknown,1,2,3_quartile,N,"Johnston,",Miss.
889,890,1,1,male,Young Adult,0,0,3_quartile,C,"Behr,",Mr.
890,891,0,3,male,Young Adult,0,0,1_quartile,N,"Dooley,",Mr.

In [3]:
from sklearn import preprocessing
def encode_features(df_train, df_test):
    features = ['Fare', 'Cabin', 'Age', 'Sex', 'Lname', 'NamePrefix']
    df_combined = pd.concat([df_train[features], df_test[features]])
    
    for feature in features:
        le = preprocessing.LabelEncoder()
        le = le.fit(df_combined[feature])
        df_train[feature] = le.transform(df_train[feature])
        df_test[feature] = le.transform(df_test[feature])
    return df_train, df_test
    
data_train, data_test = encode_features(data_train, data_test)
data_train

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Lname,NamePrefix
0,1,0,3,1,4,1,0,0,7,100,19
1,2,1,1,0,0,1,0,3,2,182,20
2,3,1,3,0,7,0,0,0,7,329,16
3,4,1,1,0,7,1,0,3,2,267,20
4,5,0,3,1,7,0,0,1,7,15,19
5,6,0,3,1,6,0,0,1,7,538,19
6,7,0,1,1,0,0,0,3,4,500,19
7,8,0,3,1,1,3,1,2,7,608,13
8,9,1,3,0,7,0,2,1,7,382,20
9,10,1,2,0,5,1,0,2,7,559,20
10,11,1,3,0,1,1,1,2,6,707,16
11,12,1,1,0,0,0,0,2,2,86,16
12,13,0,3,1,4,0,0,1,7,709,19
13,14,0,3,1,0,1,5,3,7,21,19
14,15,0,3,0,5,0,0,0,7,818,16
15,16,1,2,0,0,0,0,2,7,336,20
16,17,0,3,1,1,4,1,2,7,664,13
17,18,1,2,1,6,0,0,1,7,847,19
18,19,0,3,0,7,1,0,2,7,814,25
19,20,1,3,0,6,0,0,0,7,494,20
20,21,0,2,1,7,0,0,2,7,268,19
21,22,1,2,1,7,0,0,1,3,68,19
22,23,1,3,0,5,0,0,1,7,509,16
23,24,1,1,1,7,0,0,3,0,744,19
24,25,0,3,0,2,3,1,2,7,608,16
25,26,1,3,0,0,1,5,3,7,33,20
26,27,0,3,1,6,0,0,0,7,237,19
27,28,0,1,1,4,3,2,3,2,257,19
28,29,1,3,0,6,0,0,0,7,587,16
29,30,0,3,1,6,0,0,0,7,794,19
...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,1,4,1,0,1,7,281,19
862,863,1,1,0,0,0,0,2,3,782,20
863,864,0,3,0,6,8,2,3,7,700,16
864,865,0,2,1,4,0,0,1,7,283,19
865,866,1,2,0,0,0,0,1,7,114,20
866,867,1,2,0,7,1,0,1,7,227,33
867,868,0,1,1,7,0,0,3,0,676,19
868,869,0,3,1,6,0,0,1,7,867,14
869,870,1,3,1,1,1,1,1,7,382,13
870,871,0,3,1,7,0,0,0,7,49,19
871,872,1,1,0,0,1,1,3,3,67,20
872,873,0,1,1,7,0,0,0,1,128,19
873,874,0,3,1,0,0,0,1,7,814,5
874,875,1,2,0,7,1,0,2,7,3,20
875,876,1,3,0,5,0,0,0,7,554,16
876,877,0,3,1,4,0,0,1,7,301,19
877,878,0,3,1,4,0,0,0,7,638,19
878,879,0,3,1,6,0,0,0,7,422,19
879,880,1,1,0,0,0,1,3,2,650,20
880,881,1,2,0,4,0,1,2,7,722,20
881,882,0,3,1,7,0,0,0,7,492,19
882,883,0,3,0,4,0,0,1,7,186,16
883,884,0,2,1,7,0,0,1,7,51,19
884,885,0,3,1,4,0,0,0,7,777,19
885,886,0,3,0,0,0,5,2,7,664,20
886,887,0,2,1,7,0,0,1,7,535,26
887,888,1,1,0,4,0,0,2,1,294,16
888,889,0,3,0,6,1,2,2,7,383,16
889,890,1,1,1,7,0,0,2,2,69,19
890,891,0,3,1,7,0,0,0,7,214,19

In [4]:
data_test.head()

   PassengerId  Pclass  Sex  Age  SibSp  Parch  Fare  Cabin  Lname  NamePrefix
0          892       3    1    7      0      0     0      7    401          19
1          893       3    0    0      1      0     0      7    843          20
2          894       2    1    3      0      0     1      7    552          19
3          895       3    1    7      0      0     1      7    851          19
4          896       3    0    4      1      1     1      7    342          20

In [5]:
from sklearn.model_selection import train_test_split

X_all = data_train.drop(['Survived', 'PassengerId'], axis=1)
y_all = data_train['Survived']

num_test = 0.20
X_train, X_test, y_train, y_test = train_test_split(X_all, y_all, test_size=num_test, random_state=23)

### In the MKNN algorithm, every training sample must be validated at the first step. The validity of each point is computed according to its neighbors. The validation process is performed for all train samples once. After assigning the validity of each train sample, it is used at the second step as impact or weight of the points in the ensembles of neighbors which the point is selected to attend. To validate a sample point in the train set, the H nearest neighbors of the point is considered. Among the H nearest neighbors of a train sample x, validity(x) counts the number of points with the same label to the label of x. Img. 1 is the formula which is proposed to compute the validity of every  points in train set.

<img src="img1.png">

### Where H is the number of considered neighbors and lbl(x) returns the true class label of the sample x. also, Ni(x) stands for the ith nearest neighbor of the point x. The function S takes into account the similarity between the point x and the ith nearest neighbor. Img. 2 defines this function.

<img src="img2.png">

### In the MKNN method, first the weight of each neighbor is computed using the 1/(de+ ), where is a smoothing regulator and here is selected to 0.5. Then, the validity of that training sample is multiplied on its raw weight which is based on the Euclidian distance. In the MKNN method, the weight of each neighbor sample is derived according to Img. 3.

<img src="img3.png">

### â— Implement your validity function (5 pts)

In [10]:
def validity_function(X_train, y_train, H):
    #########################################
    ## Aqui coloque su cÃ³digo
    array_val=[]
    for indexTrain1, rowTrain1 in X_train.iterrows():
        list=[]
        for indexTrain2, rowTrain2 in X_train.iterrows():
            if indexTrain1!=indexTrain2:
                list.append((dist_eucli(rowTrain1, rowTrain2),y_train[indexTrain2],indexTrain2))
        list.sort()
        validity=0
        lblx=y_train[indexTrain1]
        for ind in range(H):
            if lblx==list[ind][1]:
                validity+=1       
        validity/=float(H)
        array_val.append(validity)   
    return array_val

### â— Please implement your euclidean function (3 pts)

In [7]:
import math
def dist_eucli(x_elem, y_elem):
    #########################################
    ## Aqui coloque su cÃ³digo
    dist=0
    for ind in range(9):
        dist+=(x_elem[ind]-y_elem[ind])*(x_elem[ind]-y_elem[ind])
    dist=math.sqrt(dist)
    
    return(dist)

### â— Please implement your MKNN function. This function has four parameters: (8 pts)

In [17]:
import random
def my_Modified_KNN(K, X_validity, X_train, y_train, X_test, alpha = 0.5):
    #########################################
    ## Aqui coloque su cÃ³digo
    y_predict=[]
    for indexTest, rowTest in X_test.iterrows():
        list=[]
        i=0
        for indexTrain, rowTrain in X_train.iterrows():
            list.append((X_validity[i]*(-1.0/(alpha+dist_eucli(rowTest, rowTrain))),y_train[indexTrain]))
            i+=1
        list.sort()
        survived=0
        notsurvived=0
        for ind in range(K):
            if list[ind][1]==0:
                notsurvived+=1
            else:
                survived+=1
        if survived>notsurvived:
            y_predict.append(1)
        elif survived<notsurvived:
            y_predict.append(0)
        else:
            y_predict.append(random.randint(0, 1))
    #print y_predict
    return(y_predict)

In [12]:
#X_validity = validity_function(X_train, y_train,3)
y_pred = my_Modified_KNN(3, X_validity, X_train, y_train, X_test)

[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0]

### â— Please find the best parameter for k, test k from 2 to 10. Use F-measure (3 pts)

In [16]:
from sklearn.metrics import f1_score

In [ ]:
#########################################
## Aqui coloque su cÃ³digo
bestk=0
maxf1=0
for k in range(2,11):
    y_pred = my_Modified_KNN(k, X_validity, X_train, y_train, X_test)
    currentf1=f1_score(y_test, y_pred)
    if currentf1>maxf1:
        bestk=k
        maxf1=currentf1
    
print bestk

### â— Use the confusion matrix for the best k (1 pt)

In [ ]:
from sklearn.metrics import confusion_matrix
y_pred = my_Modified_KNN(5, X_validity, X_train, y_train, X_test)
confusion_matrix(y_test, y_pred)